.add-student-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 200%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.add-student-container h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 200%; /* Asegura que el grupo del formulario ocupe todo el ancho del contenedor */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%; /* Mantiene el ancho anterior */
  padding: 8px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #03983E;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #53bf7c;
}

/* Estilos adicionales para mostrar errores */
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.input-error {
  border: 1px solid red;
}
