.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.schedule-container p, label {
  font-size: 16px;
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header .search-button {
  background-color: #2ecc71;
  border-radius: 5px;
  border: 1px solid #2ecc71;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.header .search-button:hover {
  background-color: #53bf7c;
}

.header input {
  margin-right: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.header input.input-error {
  border-color: #e74c3c; /* Color para mensajes de error */
}

.error-message {
  color: black;
  margin-top: -10px;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  flex-direction: column; /* Cambiado a columna para alinear verticalmente */
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Asegurar que los contenedores se distribuyan en todo el ancho */
  margin-bottom: 20px;
}

.info-left, .info-center, .info-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #e6af2a; /* Color para bordes */
  border-radius: 8px;
  background-color: #e6af2a; /* Color de fondo */
  margin: 0 20px; /* Espaciado entre contenedores */
}

.data-inputs, .hours-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-section {
  width: 100%; /* Asegurar que el calendario ocupe todo el ancho */
  display: flex;
  flex-direction: column; /* Cambiado a columna para alinear la alerta encima del calendario */
  align-items: center;
  margin-top: 20px; /* Añadir espacio entre los contenedores y el calendario */
}

.calendar-section table {
  border-collapse: collapse;
}

.calendar-section td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
