.welcome-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #bc955b;
  border-radius: 8px;
}

.welcome-container .welcome-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.welcome-container h2 {
  margin-bottom: 25px;
  color: var(--text-color); /* Puedes ajustar el color de texto aquí */
}

.welcome-container p {
  font-size: 18px;
  color: var(--text-color); /* Puedes ajustar el color de texto aquí */
}
