.welcome-container {
  text-align: center;
  margin: 20px;
}

.welcome-container .welcome-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.welcome-container h2 {
  margin-bottom: 25px;
}

.welcome-container p {
  font-size: 18px;
  color: #000000;
}
